# 인스타 계정
INSTAGRAM_USERNAME='인스타 아이디'
INSTAGRAM_PASSWORD='인스타 비번'

# 나이스 api (한림예고)
NEIS_API_KEY='나이스 api 키'
OFFICE_CODE='B10'
SCHOOL_CODE='7011149'

# 나이스 api (갈매고)
# NEIS_API_KEY='나이스 api 키'
# OFFICE_CODE='J10'
# SCHOOL_CODE='7531270'

# 디코 웹훅
DISCORD_WEBHOOK_URL='디코 웹훅 url'